:root {
  --vp-c-brand: #047eb8;
  --vp-c-brand-light: #3698c6;
  --vp-c-brand-lighter: #4fa5cd;
  --vp-c-brand-dark: #024c6e;
  --vp-c-brand-darker: #023f5c;

  --vp-c-sponsor: #047eb8;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #047eb8 #1e1e20;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1e1e20;
}

*::-webkit-scrollbar-thumb {
  background-color: #047eb8;
  border-radius: 10px;
  border: 3px solid #1e1e20;
}